<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados</title>
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.jpg">
  <link rel="stylesheet" type="text/css" href="/assets/css/resultados.css">
</head>

<body>

  <header>
    <img src="/assets/images/pulso.jpg" alt="Logo del juego" style="width: 100px;">
  </header>

  <div id="content">
    <div class="notice">
      <p>
        Estos son sus resultados en el juego de coordinación
      </p>
    </div>
   <h1 class="orange-box">Tiempo transcurrido en el juego</h1>
    <p><span class="highlight">Mano derecha: <%= (datosUsuario3d / 1000).toFixed(2) %> segundos</span></p>
    <p><span class="highlight">Mano derecha: <%= (datosUsuario3i / 1000).toFixed(2) %> segundos</span></p>

   <h1 class="orange-box">Respecto al resto de jugadores</h1>
      <% if (datosMedia3d > 0) { %>
      <p><span class="highlight">¡Enhorabuena! Tu tiempo con la mano derecha es superior en <%= Math.round(datosMedia3d) %>% a la media.</span></p>
      <% } else if (datosMedia3d < 0) { %>
      <p><span class="highlight">Tu tiempo con la mano derecha es inferior un <%= Math.round(Math.abs(datosMedia3d)) %>% de la media. ¡Sigue practicando!</span></p>
      <% } else { %>
      <p><span class="highlight">Tu tiempo con la mano derecha es igual a la media.</span></p>
      <% } %>
      <% if (datosMedia3i > 0) { %>
      <p><span class="highlight">¡Enhorabuena! Tu tiempo con la mano izquierda es superior en <%= Math.round(datosMedia3i) %>% a la media.</span></p>
      <% } else if (datosMedia3i < 0) { %>
      <p><span class="highlight">Tu tiempo con la mano izquierda es inferior un <%= Math.round(Math.abs(datosMedia3i)) %>% de la media. ¡Sigue practicando!</span></p>
      <% } else { %>
      <p><span class="highlight">Tu tiempo con la mano izquierda es igual a la media.</span></p>
      <% } %>
   
   
   <a href="/menu" class="orange-button">Volver al menú</a>

 </div>

 <footer>
   <p>&copy; Zurdos vs Diestros</p>
 </footer>

</body>

</html>
