<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados por Mano Uso Móvil</title>
  <link rel="icon" type="image/x-icon" href="assets/images/favicon.jpg">
  <link rel="stylesheet" type="text/css" href="/assets/css/resultados.css">
</head>

<body>

  <header>
    <img src="/assets/images/pulso.jpg" alt="Logo del juego" style="width: 100px;">
  </header>

  <div id="content">
    <h1 class="orange-box">Resultados según la mano con la que usa el móvil</h1>
    <p>Estos son los resultados de su desempeño en los diferentes juegos que miden su habilidad con ambas manos, basándose en la mano con la que usa el móvil, la <strong><%= mano_uso_usuario %></strong>, la cuál usan también <strong><%= usersManoUso.length %> usuarios</strong> y serán con los que se comparará sus datos</p>

    <h2 class="orange-box">Velocidad (Derecha)</h2>
    <% let playerScore1d = userScoreAboveAverage.score1dAboveAverage + averageScores[0].avgScoreGame1d; %>
    <p>Puntuación: <%= playerScore1d %></p>
    <p>Lugar en el ranking de velocidad con la mano derecha según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser1d.rank %></span></p>
    <% if (playerScore1d > averageScores[0].avgScoreGame1d) { %>
      <p class="highlight">¡Enhorabuena! Estás <%= Math.round(playerScore1d - averageScores[0].avgScoreGame1d) %> puntos por encima de la media.</p>
    <% } else if(playerScore1d < averageScores[0].avgScoreGame1d){ %>
      <p class="highlight">Ánimo. Estás <%= Math.round(averageScores[0].avgScoreGame1d - playerScore1d) %> puntos por debajo de la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <h2 class="orange-box">Velocidad (Izquierda)</h2>
    <% let playerScore1i = userScoreAboveAverage.score1iAboveAverage + averageScores[0].avgScoreGame1i; %>
    <p>Puntuación: <%= playerScore1i %></p>
    <p>Lugar en el ranking de velocidad con la mano izquierda según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser1i.rank %></span></p>
    <% if (playerScore1i > averageScores[0].avgScoreGame1i) { %>
      <p class="highlight">¡Enhorabuena! Estás <%= Math.round(playerScore1i - averageScores[0].avgScoreGame1i) %> puntos por encima de la media.</p>
    <% } else if (playerScore1i < averageScores[0].avgScoreGame1i) { %>
      <p class="highlight">Ánimo. Estás <%= Math.round(averageScores[0].avgScoreGame1i - playerScore1i) %> puntos por debajo de la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <h2 class="orange-box">Reacción (Derecha)</h2>
    <% let playerScore2d = userScoreAboveAverage.score2dAboveAverage + averageScores[0].avgScoreGame2d; %>
    <p>Tiempo: <%= Math.round(playerScore2d) %> milisegundos</p>
    <p>Lugar en el ranking de reacción con la mano derecha según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser2d.rank %></span></p>
    <% if (playerScore2d < averageScores[0].avgScoreGame2d) { %>
      <p class="highlight">¡Enhorabuena! Has tardado <%= Math.round(averageScores[0].avgScoreGame2d - playerScore2d) %> milisegundos menos que la media.</p>
    <% } else if (playerScore2d > averageScores[0].avgScoreGame2d){ %>
      <p class="highlight">Ánimo. Has tardado <%= Math.round(playerScore2d - averageScores[0].avgScoreGame2d) %> milisegundos más que la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <h2 class="orange-box">Reacción (Izquierda)</h2>
    <% let playerScore2i = userScoreAboveAverage.score2iAboveAverage + averageScores[0].avgScoreGame2i; %>
    <p>Tiempo: <%= Math.round(playerScore2i) %> milisegundos</p>
    <p>Lugar en el ranking de reacción con la mano izquierda según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser2i.rank %></span></p>
    <% if (playerScore2i < averageScores[0].avgScoreGame2i) { %>
      <p class="highlight">¡Enhorabuena! Has tardado <%= Math.round(averageScores[0].avgScoreGame2i - playerScore2i) %> milisegundos menos que la media.</p>
    <% } else if (playerScore2i > averageScores[0].avgScoreGame2i) { %>
      <p class="highlight">Ánimo. Has tardado <%= Math.round(playerScore2i - averageScores[0].avgScoreGame2i) %> milisegundos más que la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <h2 class="orange-box">Coordinación (Derecha)</h2>
    <% let playerScore3d = userScoreAboveAverage.score3dAboveAverage + averageScores[0].avgScoreGame3d; %>
    <p>Tiempo: <%= (playerScore3d/1000).toFixed(2) %> segundos</p>
    <p>Lugar en el ranking de coordinación con la mano derecha según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser3d.rank %></span></p>
    <% if (playerScore3d > averageScores[0].avgScoreGame3d) { %>
      <p class="highlight">¡Enhorabuena! Duras <%= ((playerScore3d - averageScores[0].avgScoreGame3d)/1000).toFixed(2) %> segundos más que la media.</p>
    <% } else if (playerScore3d < averageScores[0].avgScoreGame3d){ %>
      <p class="highlight">Ánimo. Duras <%= ((averageScores[0].avgScoreGame3d - playerScore3d) /1000).toFixed(2) %> segundos menos que la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <h2 class="orange-box">Coordinación (Izquierda)</h2>
    <% let playerScore3i = userScoreAboveAverage.score3iAboveAverage + averageScores[0].avgScoreGame3i; %>
    <p>Tiempo: <%= (playerScore3i/1000).toFixed(2) %> segundos</p>
    <p>Lugar en el ranking de coordinación con la mano izquierda según la mano con la que usa el móvil:</p>
    <p><span class="ranking-number"><%= rankingUser3i.rank %></span></p>
    <% if (playerScore3i > averageScores[0].avgScoreGame3i) { %>
      <p class="highlight">¡Enhorabuena! Duras <%= ((playerScore3i - averageScores[0].avgScoreGame3i)/1000).toFixed(2) %> segundos más que la media.</p>
    <% } else if(playerScore3i < averageScores[0].avgScoreGame3i) { %>
      <p class="highlight">Ánimo. Duras <%= ((averageScores[0].avgScoreGame3i - playerScore3i)/1000).toFixed(2) %> segundos menos que la media.</p>
    <% } else { %>
      <p class="highlight">¡Estás en la media!</p>
    <% } %>

    <a href="/resultados-finales" class="orange-button"><strong>Volver a Resultados</strong></a>

  </div>

  <footer>
    <p>&copy; Diestros vs Zurdos</p>
  </footer>

</body>

</html>
